<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/App/Auth.js"></script>
<div class="row" ng-app="authApp" ng-controller="authController">
    <div class="col-md-4">
        <h2>Register</h2>
        <label>Email</label>
        <input type="text" class="form-control" ng-model="register.Email" />
        <label>Password</label>
        <input type="password" class="form-control" ng-model="register.Password" />
        <label>Confirm Password</label>
        <input type="password" class="form-control" ng-model="register.ConfirmPassword" />
        <button ng-click="RequestRegister()">Register!</button>
        {{result}}
    </div>

    <div class="col-md-4">
        <h2>Login</h2>
        <label>Email</label>
        <input type="text" class="form-control" ng-model="login.Email" />
        <label>Password</label>
        <input type="password" class="form-control" ng-model="login.Password" />
        <button ng-click="RequestLogin()">Login!</button>
        {{user}}
    </div>

    <div class="col-md-4">
        <h2>Request Data</h2>
        <label>Data</label>
        <input type="text" class="form-control" ng-model="actualPost.title" />
        <label>Logged in user</label>
        <input type="text" class="form-control" ng-model="actualPost.content" />
        <button ng-click="RequestData()">Get data!</button>
    </div>

    <div class="col-md-4">
        <h2>Post</h2>
        <label>Title</label>
        <input type="text" class="form-control" ng-model="actualPost.title" />
        <label>Content</label>
        <input type="text" class="form-control" ng-model="actualPost.content" />
        <button ng-click="AddPost()">Add</button>
    </div>

</div>

